:root {
  --primary-color: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--primary-color);
  margin-top: 60px;

  width: 90vw;
  height: 50vh;

  border: 1px solid var(--primary-color);
  margin: 0 auto;

  display: flex;
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  #app {
    width: 65vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #app {
    width: 55vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #app {
    width: 45vw;
  }
}

@media screen and (min-width: 1200px) {
  #app {
    width: 40vw;
  }
}
